body{
    background-color: black;
}

.bg-light-dark {
    background-color: #2B3035;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}